<mat-toolbar color="primary" class="navbar">
  <div class="navbar-brand">
    <span class="logo">Monitoreo Inteligente de Consumo Energético</span>
  </div>

  <div class="navbar-links">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-button routerLink="/map" routerLinkActive="active">Maqueta</a>
    <a mat-button routerLink="/analytics" routerLinkActive="active">Análisis</a>

  </div>

  <span class="spacer"></span>

  <div class="navbar-actions">
    <button mat-icon-button aria-label="Notificaciones">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="Configuración">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
